body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    margin: 0;
}

.text {
    background-image: url('mask4.jpg');
    font-size: 8rem;
    font-weight: bold;
    color: transparent;
   
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
}
